<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mzrw.k2aplugin.bluetoothkeyboard">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AuthorizedDevicesActivity"
            android:label="@string/title_activity_authorized_devices"/>
        <activity android:name=".KeyboardActivity"
            android:label="@string/title_activity_keyboard" />

        <receiver
            android:name=".k2a.PluginAccessReceiver">
            <intent-filter>
                <action android:name="keepass2android.ACTION_TRIGGER_REQUEST_ACCESS" />
                <action android:name="keepass2android.ACTION_RECEIVE_ACCESS" />
                <action android:name="keepass2android.ACTION_REVOKE_ACCESS" />
            </intent-filter>
        </receiver>
        <receiver android:name=".k2a.PluginActionReceiver">
            <intent-filter>
                <action android:name="keepass2android.ACTION_OPEN_ENTRY" />
                <action android:name="keepass2android.ACTION_ENTRY_OUTPUT_MODIFIED" />
                <action android:name="keepass2android.ACTION_ENTRY_ACTION_SELECTED" />
                <action android:name="keepass2android.ACTION_CLOSE_ENTRY_VIEW" />
            </intent-filter>
        </receiver>
    </application>

</manifest>